:root {
  --light-bg: #d4d0d0;
  --light-text: #2a2a2a;
  --dark-bg: #1a1a1a;
  --dark-text: #f5f5f5;
  --light-box-bg: #ffffff;
  --dark-box-bg: #2a2a2a;
  --light-hover-bg: #e8e8e8;
  --dark-hover-bg: #3a3a3a;
}

body.light-mode {
  background-color: var(--light-bg);
  color: var(--light-text);
}

body.dark-mode {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.content {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  background-color: inherit;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

body {
  margin: 0;
  padding: 20px;
  text-align: center;
}

a {
  color: blue;
}

a:visited {
  color: red;
}

.container {
  max-width: 60%;
  margin: 0 auto;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu > li {
  display: inline-block;
  position: relative;
  flex-basis: calc(33.33% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
}

.menu > li:last-child {
  margin-right: 0;
}

.menu > li > a {
  display: block;
  padding: 10px;
  color: inherit;
}

body.light-mode .menu > li > a {
  background-color: var(--light-box-bg);
}

body.dark-mode .menu > li > a {
  background-color: var(--dark-box-bg);
}

.menu > li:hover .sub-menu {
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
}

.sub-menu {
  display: none;
  padding: 0;
  margin: 0;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
}

body.light-mode .sub-menu {
  background-color: var(--light-bg);
}

body.dark-mode .sub-menu {
  background-color: var(--dark-bg);
}

.sub-menu > li {
  display: block;
  padding: 8px;
}

body.light-mode .sub-menu > li:hover {
  background-color: var(--light-hover-bg);
  color: var(--light-text);
}

body.dark-mode .sub-menu > li:hover {
  background-color: var(--dark-hover-bg);
  color: var(--dark-text);
}

.disclaimer {
  color: inherit;
}

/* Updated styles */
.mode-switch {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
}

.icon {
  font-size: 16px;
}

.sun-icon {
  color: #f1d209;
}

.slider:before {
  content: '';
}

.slider:after {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

.slider .sun-icon {
  display: none;
}

.slider .moon-icon {
  display: block;
}

input:checked + .slider .sun-icon {
  display: block;
}

input:checked + .slider .moon-icon {
  display: none;
}

